{% extends 'blog/base_full_width.html' %}

{% block head_title %}Edit Post - Blog{% endblock %}

{% block main_area %}
	<h1>Edit Post</h1>
	<hr/>

	<form method="post" enctype="multipart/form-data">{% csrf_token %}
			<table>
			{{form}}
			<tr>
				<th><laber for="id_tags_str">Tags:</laber></th>
				<td><input type="type" name="tags_str" id="id_tags_str" value="{{ tags_str_default }}"></td>
			</tr>
			</table>
			<br/>
			<button type="submit" class="btn btn-primary fload-right">Submit</button>
	</form>
{% endblock %}